name: 01 basics events filters workflows

on: [push, pull_request]

jobs:
    print-hello-world:
        runs-on: ubuntu-latest
        steps:
            - name: Print Hello World
              run: echo "Hello World"