name: 02 basics events filters workflows

on: 
    pull_request:
        types: closed

jobs:
    print-hello-world:
        runs-on: ubuntu-latest
        steps:
            - name: Print Hello World
              run: echo "Hello World"