name: 01 basics events filters workflows

on:
    schedule:
        - cron: "*/5 * * * *"

jobs:
    print-hello-world:
        runs-on: ubuntu-latest
        steps:
            - name: Print Hello World
              run: echo "Hello World"